<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <img src="https://www.pandaancha.mx/plds/articulos/froala/thumb_22094_news_article_main_normal-1110x455-333915495.jpg" class="d-block w-100" alt="...">
   
    <p class="h1 text-center">Proyecto Angular Football Data</p>

    <ul>
        <li>He realizado un proyecto en angular obteniendo los datos de una api de fútbol que me actualiza la clasificacion todas las jornadas</li>

    </ul>
</body>
</html>
